In [1]:
import pandas as pd

In [13]:
# Reading an excel file
data = pd.read_excel(r'C:\Users\Siddharth\Desktop\supermarket_sales.xlsx',engine='openpyxl')

In [15]:
# Select columns: 'Gender', 'Product line', 'Total'
data = data[['Gender', 'Product line', 'Total']]
data.head()

   Gender            Product line     Total
0  Female       Health and beauty  548.9715
1  Female  Electronic accessories   80.2200
2    Male      Home and lifestyle  340.5255
3    Male       Health and beauty  489.0480
4    Male       Sports and travel  634.3785

In [18]:
# Make pivot table
pivot_table = data.pivot_table(index='Gender', columns='Product line',
                             values='Total', aggfunc='sum').round(0)

pivot_table

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

In [19]:
# Export pivot table to Excel file
pivot_table.to_excel('pivot_table.xlsx', 'Details', startrow=1)